@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(26, 29, 38);
  --sidebar: rgba(26, 29, 38, 1);
  --navbar-primary: rgba(23, 26, 35, .99);
  --header-primary: #00adb5;
  --header-secondary: #eee;
  --text-primary: #8d9bb1;
  --link: rgba(0, 0, 0, 0.3);
  --link-hover: rgba(0, 0, 0, 0.4);
  --bg-gray: #393E46;
}

:root.light {
  --bg-primary: rgb(238, 238, 238);
  --sidebar: rgba(238, 238, 238, 1);
  --navbar-primary: rgba(233, 233, 233, 1);
  --header-primary: #00adb5;
  --header-secondary: #333;
  --text-primary: #777f8b;
  --link: rgba(255, 255, 255, 0.4);
  --link-hover: rgba(255, 255, 255, 0.6);
  --bg-gray: white;
}

@layer base {
  body {
    @apply bg-bg-primary min-h-screen text-text-primary font-poppins;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .transition-width {
    transition: width 0.2s linear, color 0.2s linear;
  }

  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
