* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    font-family: ubuntu;
    background: #0e2f44;
    color: white;
}

header {
    color: #003366;
    background: #f0f8ff;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-top: 10px;
    padding: 20px 0 ;
    text-align: center;
}

main img {
    display: block;
    margin: auto;
    width: 300px;
}

main ol, ul{
    font-size: 20px;
    padding: 15px 25px;
}

main .romawi {
    list-style-type: upper-roman;
}

footer a {
    color: #003366;
    border-radius: 20px;
    background: #c6e2ff;
    border: 2px solid #000000;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}