@font-face {
    font-family: "Sunny Spells";
    src: url(../../Font/SunnyspellsRegular-MV9ze.otf) format('opentype');
}

body {
    font: 24px/36px "Sunny Spells", Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ddd;
}

/* clearfix float */
.clearfix {
    content: "";
    clear: both;
    display: table;
}

/* img size */
img {
    width: 140px;
}

h1 {
    font-size: 60px;
    margin: 30px;
}

.container {
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.gallery li {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, .6);
    float: left;
    margin-right: 20px;
    margin-left: 40px;
    position: relative;
    overflow: hidden;
}

.gallery li span {
    display: block;
    width: 140px;
    height: 140px;
    background-color: rgba(255, 0, 250, .3);
    color: white;
    line-height: 140px;
    text-shadow: 0 0 5px black;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .3s;
}

.gallery li:hover span {
    opacity: 1;
    transform: rotate(360deg);
}

/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    transform: .8s;
    padding: 80px;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}

.overlay img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}


.overlay:target img {
    animation: zoomAndFade .3s;
}
/* close */

.overlay .close {
    display: none;
    color: white;
    border: 2px solid white;
    padding: 3px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.overlay:target .close {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -120%);
    background-color: rgba(0, 0, 0, .9);
    animation: dropDown .3s;
}

/* prev and next */
.overlay .next,
.overlay .prev {
    position: absolute;
    top: 40%;
}

.overlay:target .next,
.overlay:target .prev {
    height: 100px;
}

.overlay .next {
    margin-left: 30px;
}

.overlay .prev {
    margin-left: -120px;
}

@keyframes zoomAndFade {
    0% {
        transform: scale(0);
        opacity: 0;
    } 100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dropDown {
    0% {
        margin-top: -60px;
    } 100% {
        margin-top: 0;
    }
}