@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --nav-primary: rgba(19, 17, 28, .8);
        --bg-primary: rgb(19, 17, 28);
        --text-primary: #eee;
        --text-secondary: #ccc;
        --text-third: #aaa;
        --border-primary: #222;
        --border-secondary: #777
    }

    body {
        @apply bg-bg-primary text-text-primary
    }
}

@layer components {
    input[type=file] {
        @apply border-border-secondary border border-dashed w-[90%] mx-auto rounded px-4 py-3 focus:border-blue-500
    }

    input[type=file]::file-selector-button {
        @apply bg-blue-500 border-none py-2 px-4 text-text-primary rounded
    }
      
}

@layer utilities {
    .sticky-nav {
        transition-timing-function: ease;
    }
}