html, body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Latihan 1 */
.container-satu {
    max-width: 1000px;
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    display: flex;
}

.sidebar-satu {
    flex: 2;
}

.halaman-utama {
    flex: 4;
}

.sidebar-dua {
    flex: 2;
}

/* latihan 2 */
.container-dua {
    max-width: 1000px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.layanan {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.layanan.satu {
    background-color: rgb(95, 95, 255);
}

.layanan.dua {
    background-color: rgb(255, 78, 78);
}

.layanan.tiga {
    background-color: rgb(103, 255, 103);
}

/* Latihan 3 */
.container-tiga {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 25%;
}

.thumbnail img {
    width: 100%;
}

/* Latihan 4 */
.container-empat {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #ddd;
    display: flex;
}

.card {
    text-align: center;
    border: 1px solid #555;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.card .header {
    height: 150px;
    background-color: #555;
}

.card .content {
    padding: 20px;
}

.card.big {
    transform: scale(1.08);
}

/* Latihan 5 */
.container-lima {
    max-width: 800px;
    height: 400px;
    margin: auto;
    border: 5px solid black;
    display: flex;
    margin-bottom: 100px;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin: auto;
    display: flex;
    text-align: center;
}

.kotak span {
    margin: auto;
}



@media ( max-width: 600px ) {
    .container-dua {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .layanan {
        width: 100%;
        margin-bottom: 5px;
    }

    .thumbnail {
        width: 50%;
    }

    .container-empat {
        flex-wrap: wrap;
    }

    .card.big {
        transform: scale(1);
    }
}
