.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  padding: 10px 20px;
  background-color: lawngreen;
  border: none;
  border-radius: 5px;
  color: black;
}

.Button:active {
  opacity: .8;
}